results/*
!results/.gitkeep
results/animations/*
!results/animations.gitkeep
data/*
!data/.gitkeep
models/*
!models/.gitkeep
external_data/*
!external_data/.gitkeep
tmp/*
!tmp/.gitkeep
./assets/original_images
./assets/animations
.idea/
# /projects/0_conceptual_figures
# /projects/0_helpers
/solvers/mlhp_build
/solvers/kenels_build
.logs/
__pycache__/*
*.pyc
projects/15_anomaly/experiments/*
